th{
    font-weight: 500;
    color: rgb(84, 85, 86);
}
.bx{
    box-shadow: 0px 2px 1px rgb(218, 216, 216);
}
td{
    font-weight: 500;
    
}
.kp-o{
    color: rgb(216, 168, 133);
}
.kp-h{
    color: rgb(95,147,126);

}